*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button{
    width: 200px;
    height: 35px;
    background: #6060b5;
    color: #fff;
    margin: 20px 0;
    border: none;
    border-radius: 0 20px 0 20px;
    transition: all .5s;
}
button:hover{
    border-radius: 20px 0 20px 0;
}